.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
.dialog {
    position: relative;
  width: 300px;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 12px;
}
.head_section {
  display: flex;
}
.head_section h1 {
  margin: 0;
  font-size: 16px;
}
.from_section {
  margin-top: 16px;
  padding: 8px;
  border: none;
  border-radius: 12px;
  background-color: #f0f7f7;
}
.from_section input {
  border: none;
  width: 160px;
  padding-bottom: 20px;
  background-color: transparent;
  font-size: 20px;
}
.turn_over_section {
position: absolute;
width: 20px;
height: 20px;
right: calc(50% - 15px);
top: calc(50% - 20px);
}
.turn_over_section button {
  width: 30px;
  height: 30px;
  border: 4px solid white;
  border-radius: 8px;
  background-color: #f0f7f7;
  /* border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #000; */
}
.to_section {
  margin-top: 5px;
  padding: 16px 8px 8px 8px;
  border: none;
  border-radius: 12px;
  background-color: #f0f7f7;
}
.to_section input {
  border: none;
  width: 160px;
  padding-bottom: 20px;
  background-color: transparent;
  font-size: 20px;
}
.details_section {

}
.button_section {
display: flex;
justify-content: center;
margin-top: 8px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0d76fc;
  border-color: #0d76fc;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
